<meta charset="UTF-8">
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
    <link href="https://bootswatch.com/4/journal/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
{% endblock %}