{% extends "base_holiday.html.twig" %}

{% form_theme formHoliday "bootstrap_4_layout.html.twig" %}

{% block title %}
    {% if isEditMode %}
        Modification de vacances
    {% else %}
        Nouvelles vacances
    {% endif %}
{% endblock %}

{% block body %}
    <h1>

        {% if isEditMode %}
            Modification de vacances
        {% else %}
            Nouvelles vacances
        {% endif %}

    </h1>

    {{ form_start(formHoliday) }}

        {{ form_widget(formHoliday) }}

        <button type="submit" class="btn btn-primary">
            {% if isEditMode %}
                Modifier les vacances
            {% else %}
                Ajouter les vacances
            {% endif %}
        </button>

        <a href="{{path('holiday_index')}}" class="btn btn-outline-danger">
            Annuler
        </a>


    {{ form_end(formHoliday) }}

{% endblock %}